div {

}

h1 {
  margin: 50px auto -50px auto;
  line-height: 2;
  font-family: 'Fredoka', serif;
  font-size: 3rem;
  color: white;
}

p {
  font-size: 1rem;
  font-family: 'Fredoka', serif;
}

h2 {
  margin-top: 30px;
  font-family: 'Fredoka', serif;
  font-size: 1.6rem;
  /*font-weight: normal;*/
  color: white;
}

h3 {
  margin-top: 0;
  font-size: 1rem;
  font-family: 'Fredoka', serif;
  color: #424242;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  color: #696969;
  background-color: none;
  border-style: solid none none none;
  height: 0;
  width: 15%;
  border-width: 5px;
  margin-top: 100px;
  margin-bottom: 10px;
}

/********************Classes*********************/
.top {
  background-color: #424242;
  padding-top: 100px;
  padding-bottom: 50px;
}

.middle-container {
  background-color: white;
  padding-bottom: 100px;
}

.bottom-container {
  background-color: #424242;
  padding-top: 50px;
  padding-bottom: 10px;
}

.section {
  padding-top: 50px;
  color: #424242;
  font-size: 2rem;
}

.section-dark {
  padding-top: 100px;
  background-color: #bcbcbc;
  color: white;
  font-size: 2rem;
}

.dark {
  color: #424242;
}

.light {
  color: #bcbcbc;
}

.text-right {
  text-align: right;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row-left {
  margin: 100px 20% 100px 20%;
  /*width: 50%;*/
  text-align: left;
  line-height: 2rem;
  font-size: 1rem;
}

.skill-row-right {
  margin: 100px 20% 100px 20%;
  /*margin: 100px auto 100px auto;*/
  /*width: 50%;*/
  text-align: right;
  line-height: 2rem;
  font-size: 1rem;
}

.skill-image-left {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.skill-image-right {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.circular {
  border-radius: 100%;
  width: 150px;
  margin: 50px auto;
}

.logo {
  width: 100px;
  margin: -50px auto -50px auto;
}

.btn {
  background: #696969;
  background-image: -webkit-linear-gradient(top, #696969, #424242);
  background-image: -moz-linear-gradient(top, #696969, #424242);
  background-image: -ms-linear-gradient(top, #696969, #424242);
  background-image: -o-linear-gradient(top, #696969, #424242);
  background-image: linear-gradient(to bottom, #696969, #424242);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Fredoka';
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #696969;
  background-image: -webkit-linear-gradient(top, #696969, #696969);
  background-image: -moz-linear-gradient(top, #696969, #696969);
  background-image: -ms-linear-gradient(top, #696969, #696969);
  background-image: -o-linear-gradient(top, #696969, #696969);
  background-image: linear-gradient(to bottom, #696969, #696969);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-family: 'Fredoka', serif;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
  color: #696969;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Fredoka', serif;
  text-decoration: none;
  font-size: 1.25rem;
}

.footer-link:hover {
  color: #EAF6F6;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 1.25rem;
}

.body-link {
  color: #696969;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Fredoka', serif;
  text-decoration: none;
}

.body-link:hover {
  color: white;
  background: #696969;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: none;
}
